* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Подключаем шрифта Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url(../style/font/proximanova/proximanova_regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "El Messiri", sans-serif;
    margin: 0;
}

hr {
    opacity: .4;
}

/* сeмантика */

body {
    display: flex;
    flex-direction: column;
    background-color: #162831;
    width: 1280px;
    margin: 0 auto;
    font-family: "Proxima Nova", sans-serif;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: white;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin: 20px 0;
}

footer a {
    color: aliceblue;
}

nav {
    display: flex;
    gap: 50px;
}

nav a,
.addCurse {
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-bottom: #0188be00 solid 2px;
    transition: all .1s linear;
}

nav a:hover {
    border-bottom: #018ABE solid 2px;
}

.addCurse {
    background-color: #018ABE;
    border-radius: 3px;
    padding: 9px 15px;
    font-size: 13px;
}

.addCurse:hover {
    filter: brightness(1.2);
}

.addCurse:active {
    filter: brightness(1);
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    color: white;
    background: url(../style/img/bg-banner.jpg), #98C9DC80;
    background-size: 100% 100%;
    background-blend-mode: color;
    border-radius: 10px;
}

.banner h1 {
    text-align: center;
    font-size: 64px;
}

.banner h2 {
    display: flex;
    gap: 66px;
}

.banner h2::before {
    content: url(../style/img/decor-white.svg);
}

.banner h2::after {
    content: url(../style/img/decor-white.svg);
    width: 28px;
    height: 14px;
    display: block;
    transform: scale(-1, 1);
}

#sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

h2.title {
    display: flex;
    font-size: 42px;
    gap: 45px;
    color: white;
}

h2.title::before {
    content: url(../style/img/decor-blue.svg);
}

h2.title::after {
    content: url(../style/img/decor-blue.svg);
    width: 28px;
    height: 14px;
    display: block;
    transform: scale(-1, 1);
}

.sessions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;
}

.session {
    background: url(../style/img/bg-session.jpg), #018ABE80;
    background-size: 100% 100%;
    background-blend-mode: color;
    background-repeat: no-repeat;
    border: #162831 solid 3px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: end;
    border-radius: 10px;
}

.session:hover {
    filter: brightness(1.2)drop-shadow(0 0 0.75rem #018ABE);
    border: #018ABE solid 2px;
    transition: all .1s linear;
}

.session h2 {
    margin: 0 0 30px 40px;
    font-size: 24px;
}

.session:first-child {
    height: 540px;
    grid-area: 1 / 1 / 3 / 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.session:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.session:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.session:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}

.session:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    color: white;
    overflow: hidden;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 50px;
}

#review h3 {
    font-size: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #018ABE;
    border-radius: 10px;
    width: 636px;
    height: 350px;
    padding: 50px 60px;
    line-height: 20px;
}

.review:first-child,
.review:last-child {
    width: 500px;
    height: 276px;
    opacity: 40%;
    line-height: 14px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.about {
    display: flex;
    gap: 84px;
}

.about img {
    filter: brightness(.3);
    border-radius: 10px;
    width: 526px;
    height: 365px;
    object-fit: cover;
}

.about-content {
    width: 466px;
    height: 234px;
    color: white;
}

.about-content p {
    opacity: 40%;
}

#price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.price {
    display: flex;
    align-items: center;
    gap: 134px;
    color: white;
}

.price h3 {
    font-size: 21px;
    text-align: center;
}

.price ul {
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 416px;
}

.price li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price li::before {
    content: url(../style/img/decor-blue.svg);
    zoom: .6;
    position: absolute;
    margin-left: -40px;
}

#contacts {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 24px;
}

.map {
    background: url(../style/img/map.png);
    grid-area: 1 / 1 / 3 / 3;
    border-radius: 10px;
    width: 856px;
    height: 604px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding: 35px 45px;
    background-color: #018ABE;
    border-radius: 10px;
    color: white;
}

.contact ul {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 0;
}

.contact li {
    display: flex;
    gap: 23px;
    list-style: none;
}

.contact a {
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 9px 15px;
    color: #018ABE;
    width: 155px;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../style/img/bg-session.jpg), #018ABE80;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: color;
    border: #162831 solid 3px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    min-width: 26%;
    height: 258px;
    padding: 30px 35px;
}

.new:hover {
    filter: brightness(1.2)drop-shadow(0 0 0.75rem #018ABE);
    border: #018ABE solid 2px;
    transition: all .1s linear;
}

.new h3 {
    font-size: 21px;
}

.new-date {
    background-color: #018ABE;
    width: max-content;
    border-radius: 3px;
    padding: 6px 12px;
}

#new-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.new-format {
    display: flex;
    justify-content: space-between;
    color: white;
}

.new-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-content p {
    line-height: 22px;
    font-size: 16px;
    text-wrap: balance;
    opacity: .4;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.blog-item {
    display: flex;
    padding: 50px 60px;
    border: #018ABE solid 2px;
    height: max-content;
    border-radius: 10px;
    gap: 50px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.blog-content p {
    opacity: .4;
    text-wrap: wrap;
}

.blog-content a {
    color: white;
    padding: 10px 20px;
    width: max-content;
    border-radius: 10px;
    text-decoration: none;
    background-color: #018ABE;
}

.blog-content a:hover {filter: brightness(1.2);}
.blog-content a:active {filter: brightness(1);}